h1 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: flex-start;
}
.capitalize {
    text-transform: capitalize;
}
.search-history {
 display: flex;
 flex-direction: column;
}